<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title> Наркомфин </title>
    <link rel="stylesheet" href="application.css">
    <link rel="stylesheet" href="js/jquery.js">

  </head>
  <body>
            <h1>Дом Наркомфина</h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Narkomfin_Building_Moscow_2007_01.jpg" alt="Дом Наркомфина">
            <p>
            Дом Наркомфина — один из ключевых памятников жилой архитектуры <a href="#"></a> конструктивизма, «опытный дом переходного типа». Построен в <a href="#"></a> 1928—1930 годах по проекту архитекторов <a href="#">Моисея Гинзбурга</a> , <a href="#">Игнатия Милиниса</a>  и инженера <a href="#">Сергея Прохорова</a>  для работников <a href="#">Народного комиссариата финансов СССР</a>  (Наркомфина). Находится в Москве на <a href="#">Новинском бульваре</a>  по адресу дом № 25, корпус 1.
            </p>

            <div class="list">
                <h3> Содержание </h3>
                    <nav class="navigation_bar">
                        <ul class="narkomfine_body_list">
                            <li> <a class="" href="#history_of_creature">История создания</a> </li>
                            <li> <a href="#Ideology">Идеология</a> </li>
                            <li> <a href="#architecture">Архитектура</a> </li>
                            <li> <a href="#space_organization">Пространственная организация комплексa</a> </li>
                            <li> <a href="#architecture_of_house"> Архитектура жилого дома</a> </li>
                            <li> <a href="#interior">Интерьеры</a> </li>
                            <li> <a href="#light_of_house">Освещение</a> </li>
                            <li> <a href="#windows">Сдвижные окна</a> </li>
                            <li> <a href="#project_critique">Критика проекта</a> </li>
                            <li> <a href="#technical_side"> С технической стороны</a> </li>
                            <li> <a href="#domestic_side">С бытовой стороны </a> </li>
                          </ul>
                    </nav>
              </div>

            <h2 id="history_of_creature"> История создания </h2>
            <p>
            Дом Наркомфина, или 2-й дом Совнаркома РСФСР, стал одним из экспериментальных домов, построенных по результатам теоретических исследований Секции типизации Стройкома РСФСР, работавшей в 1928-1929 годы под руководством М.Я. Гинзбурга. Работе секции предшествовал конкурс на «эскизный проект жилого дома трудящихся», проведенный журналом «Современная архитектура» (Гинзбург подал на конкурс проект «Коммунального дома А-1»), выставка проектов конкурса в 1927 году.[3], и строительство <a href="#"> дома Госстраха</a> на <a href="#">Малой Бронной</a>  (1926-1927, <a href="#">М.Я. Гинзбург</a>  и В.Н. Владимиров). И журнал, и конкурс, и работа Секции типизации были проектами <a href="#">ОСА</a>  ( <a href="#">Объединения современных архитекторов</a> ).
            </p>

            <h2 id="Ideology" class="ideology"> Идеология </h2>
            <p>
            Идеи, связанные с планировочной и объемной структурой, также как и с функциональным наполнением дома, изложены в книге М.Я. Гинзбурга «Жилище», где работе Секции типизации посвящена одна глава, а дому Наркомфина — три главы[11]; идеология дома также была озвучена М.Я. Гинзбургом на пленуме Стройкома[1]. Согласно М.Я. Гинзбургу, анализ типов жилья в доходном доме показывает, что его «экономический эффект» был более высоким, чем «массовое жилищное строительство Москвы первых лет после революции» (т.н. моссоветское строительство).Дом Наркомата финансов нередко называют <a href="#" title="Дом Каммуны"> «домом-коммуной» </a>, что неверно: автор проекта <a href="#"> М.Я. Гинзбург</a> противопоставлял свой «дом переходного типа» (от «буржуазного» дома к «социалистической» коммуне, поскольку в нём не полностью уничтожалась семейная структура, как это предполагалось в домах-коммунах) практике домов-коммун и жестко критиковал последнюю.
            </p>

            <blockquote class="blockquote">
            Конвейер, по которому течет здесь нормированная жизнь, напоминает прусскую казарму <...> Нет нужды доказывать абстрактную утопичность и ошибочную социальную сущность всех этих проектов. <...> Нельзя не заметить во всей этой программе механического процесса увеличения до астрономических размеров молекулярных элементов бытового уклада старой семьи
            </blockquote>

            <h2 id="architecture" class="architecture"> Архитектура </h2>
            <p>
            Под строительство дома для работников Наркомата финансов в апреле 1929 года была отведена территория двух усадеб, выходивших на Новинский бульвар — так называемый "Шаляпинский" парк [17], зеленое пространство за рядом домов XIX в. вдоль Садового кольца, в одном из которых в 1910-1922 годы жил <a href="#">Ф.И. Шаляпин</a> В проектной документации дом именовался 2-м домом СНК. Согласно проекту, комплекс должен был состоять из четырех корпусов:Также планировалось, что рядом с домом Наркомфина будет постро brен второй жилой дом с большими квартирами — ячейками типа К или D. Не реализован. <br> <br>
            Архитектура жилого корпуса была для конца 1920-х годов необычна и впечатляюща, особенно если учесть его старомосковское окружение[Комм. 2]. Жители ближайших районов прозвали его «домом-кораблем» («домом-пароходом» по Е. Милютиной) — впрочем, данный эпитет применяется ко многим модернистским зданиям. Авторам проекта Гинзбургу и Милинису удалось скомпоновать жилые ячейки в единый корпус настолько необычно, что это заинтересовало даже самого Ле Корбюзье, побывавшего в Доме Наркомфина и посетившего лично квартиру Николая Милютина.
            </p>

            <h3 id="space_organization">Пространственная организация комплекса</h2>
            <p>Три основных объема: жилого дома, коммунального корпуса и непостроенного детского сада, планировались как ритмически сбалансированный ансамбль разновеликих построек. Их уравновешивал корпус прачечной, перед которым со стороны Новинского бульвара планировалась организация квадратной площадки, композиционно связывающей этот корпус с городом. Жилой дом и корпус прачечной были частично подняты на колоннах, что освобождало пространство первого этажа (высотой 2,5 м) для прохода. По замыслу архитекторов, пройдя под корпусом прачечной через «парадный двор» перед входом с Новинского бульвара, по диагональной аллее можно было попасть в общественную зону комплекса или по другой аллее через жилой корпус в уровне открытого первого этажа — в парк за домом, где была организована своеобразная видовая площадка.
            </p>

            <h3 id="architecture_of_house">Архитектура жилого дома</h3>
            <p>
                Архитектура жилого корпуса была для конца 1920-х годов необычна и впечатляюща, особенно если учесть его старомосковское окружение[Комм. 2]. Жители ближайших районов прозвали его «домом-кораблем» («домом-пароходом» по Е. Милютиной) — впрочем, данный эпитет применяется ко многим модернистским зданиям. Авторам проекта Гинзбургу и Милинису удалось скомпоновать жилые ячейки в единый корпус настолько необычно, что это заинтересовало даже самого Ле Корбюзье, побывавшего в Доме Наркомфина и посетившего лично квартиру Николая Милютина.
            </p>

            <p>
                В пояснительной записке к проекту М.Я. Гинзбург так объясняет появление открытого первого этажа: «Ввиду неровности участка, вызывающего в подобных случаях устройство большой поверхности цоколя, в настоящем случае дом поднят в большей своей части на высоту 2,5 метров на отдельных столбах, что является более экономичным и, кроме того, сохраняет нетронутой площадь парка».
            </p>

            <p>
                В книге «Жилище» сказано лаконичнее: «Весь дом расположен в парке». Имеются в виду остатки "Шаляпинского" парка (см. выше), сохранившиеся части усадебных садов. Кроме того в 1937 году в парк вокруг дома Наркомфина пересадили деревья с реконструируемого Садового кольца, которое было залито асфальтом и снесена вся линия садов. Как следствие, одним из аргументов М.Я. Гинзбурга в пользу открытого первого этажа и «дома на ножках» стало «не разрезать домом территории парка».
            </p>

            <p>
                Другие аргументы М.Я. Гинзурга в пользу открытого первого этажа на опорах:
            </p>

            <ul>
              <li>
              первый этаж наименее пригоден для жилья, а жильцы единственной квартиры первого этажа, имеющейся в доме, вынуждены все время закрывать окна шторами
              </li>

              <li>
                  по размерам дореволюцонной квартплаты известно, что квартиры на первом этаже ценились ниже
              </li>

              <li>
                  «возможность оторвать здание от земли, ... поднести восприятию человека пространственно чистым и ясным -- представлялась заманчивой по композиционным соображениям»
              </li>

              <li>
                  дома на ножках были трендом конца 1920-х годов[где?]. В 1927 году Ле Корбюзье опубликовал в журнале L'Esprit Nouveau свои «пять пунктов современной архитектуры». Первым среди них значатся свободные опоры первого этажа. См. также точное изложение пяти пунктов во французской Википедии.
              </li>
            </ul>

            <h3>Внутренняя структура</h3>
            <p>
              Жилой корпус — шестиэтажное здание-пластина длиной 85 м и высотой 17 м, вытянуто с юга на север, вдоль восточного фасада сгруппированы спальни и коридоры, вдоль западного гостиные, соответственно спальни получают утреннее солнце, гостиные вечернее. Ближе к торцам расположены две лестничные клетки, связанные между собой и с квартирами двумя широкими коридорами (4 м в ширину и 2,3 м в высоту), на втором и пятом этажах. Коридоры М.Я. Гинзбург называет горзизонтальными артериями и противопоставляет их вертикальным лестницам: коридоры должны были упростить жителям квартир связь с помещениями коммунальных сервисов. С другой стороны, архитектор трактовал коридоры как общественные пространства («место общественного пребывания»).
            </p>

            <h3>Типы ячеек-квартир и их распределение</h3>
            <p>
                Секция типизации Стройкома РСФСР разработала пять основных типов жилых ячеек: A, B, C, D и F. Самая крупная из них, ячейка A, подразумевала трех- и двухкомнатные квартиры, B — только двухкомнатные. Минимальной была ячейка F, рассчитанная на жилую (но не общую) площадь 25-30 м².
            </p>

            <p>
                В доме Наркомфина использованы три типа квартир - по Гинзбургу, «Жилище» (1934) - в реальности около десятка типов квартир–ячеек. Второй и третий этажи заняли восемь квартир типа K - по Гинзбургу - в реальности девять квартир типа K, предназначенные для больших семей. На трех верхних этажах, с четвертого по шестой, разместились 32 малометражные квартиры типа F - по Гинзбургу, «Жилище» (1934) - в реальности 24 малометражные квартиры типа F, рассчитанные на одного человека либо на семейную пару без детей. В торцах дома, отделенных от центральной части лестничными клетками, использованы ячейки 2F — сдвоенные ячейки F. На уровне плоской крыши, располагались комнат типа общежития, где были реализованы опубликованные Николаем Милютиным в «Соцгороде» жилые ячейки на одного человека. Часть из них — на одного человека, часть — на двух, площадью соответственно 9 и 15 м², высотой 2,6 м, объединенные общим санузлом и душем между каждыми двумя комнатами.
            </p>

             <p>
                В <b>ячейках K</b>  площадь гостиной, или «жилой комнаты» – 25 м², ее высота 5 м. В части, разделенной на два яруса высотой по 2,3 м, внизу расположены: соединенная с коридором терраса, передняя и кухня площадью 4,3 м², вверху две спальни 19,88 и 12,1 м² с ванной и туалетом (совмещёнными). Жилая площадь ячеек K 57-60 м², общая площадь 82-83 м², (100 м² квартира № 11). С момента заселения дома этот тип квартир предназначался для наиболее элитных семей по причине их вместительности, удобства и большей "жилплощади"[20].
             </p>

            <p>
                <b>Ячейки F</b>  - все квартиры двухэтажные с входами из одного коридора пятого этажа. Квартиры имели две планировки: либо с лестницей от входа наверх (в двухэтажную гостиную со стеклянным окном во всю стену) и опять наверх (в спальную нишу), либо с длинной лестницей вниз, в такую же гостиную и спальную нишу, расположенные на одном уровне. Таким образом каждая квартира состоит из двух частей. Одна часть её имеет высоту 3,6 м (гостиная), другая — 2,3 м (спальная ниша). При выбранной планировке гостиная и спальная ниша открыты друг другу, визуально и пространственно, чем обеспечивалось двухстороннее освещение и проветривание. Единственными закрытыми пространствами квартиры являлись душевая кабина с умывальником и туалет. При необходимости визуальное и физическое разделение спальной ниши и гостиной достигалось карнизом с занавеской. Передняя и туалет расположены непосредственно у входа в квартиру. В малометражных квартирах F нет кухонь. Отсутствие кухонь, по Виктору Бачли, служит предельным выражением социализированной жизни и нового быта. Жилая комната оборудована небольшим «кухонным элементом» для подогрева пищи. Общая площадь ячеек F 35-36 м².
            </p>

            <p>
                Появление <b>ячеек 2F</b>  в торцах здания вызвано необходимостью рациональной компоновки объемов квартир внутри дома; оно позволило, прежде всего, ограничиться двумя коридорами. Ячейки 2F в целом дублируют структуру ячеек F. В них две гостиных высотой 3,6 м, а также столовая, передняя, ванна, туалет и кухня высотой 2,3 м. М.Я. Гинзбург называет ячейки 2F «в социально-бытовом отношении <...> обычными квартирами с более рациональным распределением высот, а потому и с более интересным пространственным решением», однако ничего не говорит ни о количестве ячеек 2F в доме, их площади, и количестве комнат в них. Виктор Бачли приводит следующие данные[21]. Вдоль каждой лестничной клетки расположены ячейки 2F двух типов: двухуровневые (три квартиры на 6-м этаже), остальные одноуровневые (три квартиры на 4-м этаже). Все комнаты ячеек, по аналогии с дореволюционными квартирами визуально и физически отделены друг от друга стенами и дверными проёмами. Вдоль южной лестничной клетки находятся две «сочленённые ячейки К» (англ. articulated K-units - определение Бачли). Этот тип квартир никогда не упоминался ни в рекомендациях Стройкома РСФСР, ни в работах Гинзбурга, его учеников и комментаторов. Отличается от ячеек К существенно большей площадью, наличием дополнительного туалета и столовой на нижнем уровне, а также большими полукруглыми балконами. Елена Овсянникова (2015) описывает этот тип квартир следующим образом: «В торцах здания, с севера и юга, построены более просторные, индивидуально спланированные квартиры с балконами. В одной из таких квартир находилась мастерская Гинзбурга»[22]. Общая площадь торцевых ячеек 2F составляла от 77 (кв. № 14) до 114 м² (кв. №18, пять комнат.
            </p>

            <p>
                Обследование дома Наркомфина, проведенное в 1994 году профессором <a href="#">МАрхИ Еленой Овсянниковой</a>  и швейцарскими студентами из Женевы, которыми руководил Жан-Клод Люди, показало, что его внутренняя структура оказалась ещё сложнее, чем было заявлено в проекте. Нестандартные квартиры, как оказалось, были на каждом этаже, хотя большинство их — типовые. Общее число вариантов жилых ячеек могло доходить до одиннадцати (включая помещение для консьержа, «студию» на верхнем этаже, общежитие на кровле и пентхаус самого Милютина). Характерно, что в конце коридора пятого этажа находилась общая кухня, организованная уже в 1940-е годы, а из самого коридора был доступ в чуланы для хранения вещей, не всегда помещавшихся в ячейки «F».
            </p>

            <p>
                Низкая высота потолков, по словам М.Я. Гинзбурга, компенсируется «смежным резервуаром» жилой комнаты-гостиной. Между тем, отдавая себе отчет в том, что помещения недостаточно изолированны, М.Я. Гинзбург оговаривается, что решение «пригодно для небольшой семьи, в противном случае понадобятся раздвижные стенки или портьеры, которые позволили бы в случае необходимости создать нужную звуковую изоляцию отдельных помещений».
            </p>

            <p>
                Террасы в уровне нижнего коридора были предназначены для совместного использования жильцами восьми квартир типа K (в реальности девяти квартир типа К), для этого предусмотрена крытая терраса, параллельная коридору. Для отдыха жильцов квартир типа F предназначался солярий на крыше.
            </p>

            <p>
                Принцип компоновки жилых ячеек, подобный применённому в проекте дома Наркомфина, был реализован в ряде проектов и на Западе, в частности, в построенном в Бреслау (Вроцлаве) по проекту <a href="#">Ганса Шаруна общежитии для холостых</a>  (1929 год). Наличие коридора, обслуживающего несколько уровней, характерно для жилых единиц Ле Корбюзье.
            </p>

            <h3>Архитектура коммунального корпуса</h3>
            <p>
                Корпус общественного обслуживания, названный авторами «коммунальным», представлял собой замкнутый , почти кубический объём со стороной около 10 м. С жилым корпусом его связывает переход на уровне второго этажа. Четыре этажа коммунального корпуса объединены двусветными помещениями высотой 5 м, обращенными на север, во двор комплекса, и закрытыми сплошным витражом 4-этажной высоты. В нижней части первоначально планировался спортивный центр, в верхней общественная столовая с летним кафе на крыше и библиотека. Лестничная клетка в западной части связывала все этажи коммунального корпуса между собой и с переходом, ведущим к дому. По словам М.Я. Гинзбурга, двигаясь по лестнице и внутри помещений корпуса, «зритель получает непрерывно меняющееся пространственное ощущение».
            </p>

            <h3>Фасады</h3>
            <p>
                Фасадное решение дома лаконично конструктивизма: ленточные окна, характернейший прием 1920-х годов, подчеркивают горизонталь, гладкие стены украшены лишь элементами, обусловленными функционально: полосами цветочных ящиков, выемкой террасы во втором этаже. Структура фасадов отражает внутреннее устройство квартир, следуя принципу модернистской архитектуры изнутри-наружу, поэтому на восточной стене преобладают ленты, а в нижней части западной стены окна гостиных сливаются в крупные пятна остекления, чередуясь с небольшими окнами кухонь. Северный торцевой фасад лишен окон и оживлен лишь выступом балкона, хорошо освещенный южный решен пластичнее -- оживлен тремя выступами полукруглых балконов, образуя один из хрестоматийных видов дома. Полукруглые балконы размещены один над другим на уровне третьего, пятого и шестого этажей. Тему лаконичных объемов с большими плоскостями стекла подхватывает и коммунальный корпус.
            </p>

            <h3>Железобетонный каркас</h3>
            <p>
                Дом был возведен с применением новинок тогдашней строительной индустрии, за конструктивные эксперименты отвечал инженер <a href="#">Сергей Львович Прохоров</a>  и возглавляемая им компания Технобетон. Несущая конструкция -- железобетонный каркас.
            </p>

            <blockquote class="reinforced_iron">
                «Статическую нагрузку несут круглые железобетонные столбы с арматурой Консидера. В поперечном направлении расстояние между осями 3,50 и 4,50 м. В продольном направлении - 3,75 м. Столбы в продольном и поперечном направлении связаны железобетонными прогонами. В поперечном направлении имеются консоли по обе стороны, дающие общую глубину корпуса 10,15 м. Таким образом почти все столбы оказываются внутри архитектурного пространства, и наружные стены по каждому этажу передают нагрузку столбам через консоли. Толщина столбов 35 см. Наружные стены выполнены из пустотелых шлакобетонных камней типа «Крестьянин» в полтора камня с засыпкой между камнями 6 см шлака. Общая толщина наружных стен 36 см».
            </blockquote>

            <p>
                Каркасная конструкция позволила освободить первый этаж для прохода и снять нагрузку с внешних стен, которые служат термоизоляционным ограждением благодаря шлакоблокам с теплоизоляционным заполнением. Как следует из иллюстраций, приведенных в книге Е. Овсянниковой и Е. Милютиной Жилой комплекс «Дом Наркомфина», выполненных в наше время, когда штукатурка стен повсеместно обвалилась, материалом стен главного фасада являлись шлаковые блоки, а торцевые поверхности дома выполнены из обожжёного кирпича.
            </p>


            <h3>Блоки Прохорова</h3>
            <p>
                Важным нововведением <a href="#">С.Л. Прохорова</a>  стало использование блоков «холодного» бетонного камня с двумя крупными отверстиями: для междуэтажных перекрытий и внутри вертикальных стен между квартирами и в ограждении лестничных клеток. Пустоты блоков использовали для прокладки канализационных, водосточных и вентиляционных каналов, размещенных внутри здания, нередко в довольно сложной конфигурации, поскольку требовалось провести все коммуникации между объемами квартир разной типологии. В составе перекрытий ряды блоков перемежали с армированным бетоном, экономя бетон и даже деревянную опалубку, поскольку в доски не требовалось забивать гвозди:
            </p>

            <blockquote class="Prokhorovs_blockquote">
                «...на расстояниях, равных длине камня, укладывались доски, подпертые деревянными стойками. На доски клались камни со специально оставляемыми промежутками. В промежутки укладывалась арматура, и все перекрытие бетонировалось. Получалась плита (5 см) с балками и промежутками, заполненными бетонными камнями».
            </blockquote>

            <p>
                «Холодные» блоки с двумя отверстиями М.Я. Гинзбург называет «обычными для немецкого бетонного строительства» (действительно, они известны, в частности, в практике Баухауса). С.Л. Прохоров организовал производство похожих блоков в крупными отверстиями прямо на стройплощадке дома Наркомфина с использованием станков для производства блоков «Крестьянин», куда подкладывались деревянные вкладыши для изготовления отверстий[28]. Впоследствии они получили название «блоков Прохорова».
            </p>

            <h3>Другие экспериментальные материалы</h3>

            <p>
                Пол в квартирах был выполнен из 2-сантиметрового двухслойного <a href="#">ксилолита</a>  (древесный камень, в основе стружка, типологически материал подобен ДСП). Ксилолит укладывали по бетонной плите основания. Во внутриквартирных перегородках использовался <a href="#">фибролит</a>  и блоки «Крестьянин» в 1/2 блока; толщина перегородок 5 см (звукоизоляция в современном понимании в доме Наркомфина отсутствовала; ее планируется добавить при реставрации дома в 2017-2019 гг.[29]). Для утепления железобетонных балок в местах их выхода на фасад (т.е. достаточно редко) использовался т.н. камышит, теплоизоляционный материал из сухой спрессованной травы.
            </p>

            <p>
                Плоская гольццементная кровля дома утеплена шлаком и снабжена водостоками, проведенными в теле дома. Технологические решения кровли с теплоизоляцией «торфоплитами» из прессованного торфа и гидроизоляцией битумом следовали схеме, разработанной ведущим германским специалистом по плоским крышам <a href="#">Эрнстом Маем</a>.
            </p>

            <h2 id="interior">Интерьеры</h2>
                <h3 id="light_of_house">Освещение</h3>
                <p>
                    Архитекторы дома Наркомфина уделяли большое внимание освещенности внутренних пространств. «Лучшей системой», зрительно расширяющей пространство, М.Я. Гинзбург называет «горизонтальную световую ленту, подтянутую к потолку». При этом по словам архитектора «горизонтальная лента дает значительно более равномерную освещенность». Расчеты коснулись и оптимальных отрезков стены выше и ниже окна: в обоих случаях оптимальной названа высота простенка 1 м сверху или снизу. Идеальным же решением признано сплошное остекление, апробированное в доме Наркомфина на примере витража коммунального корпуса[30].
                </p>

                <h3 id="windows">Сдвижные окна</h3>
                <p>
                    Одно из нововведений дома Наркомфина окна, скользящие по направляющим, сходные с изобретенными Ле Корбюзье и Пьером Жаннере. Они были доработаны с учетом российского климата. Ленточные окна включали два элемента: подвижные и неподвижные. Неподвижные с железобетонными рамами, подвижные — с дубовыми, скользящими на роликах по направляющему рельсу и прижимающимися к бетону рукояткой с эксцентриком[31]. Места прижима в окне с деревянной рамой были обиты брезентом и войлоком. М.Я. Гинзбург считает ошибкой изготовление неподвижных бетонных рам и называет пять достоинств сдвижных оконных рам:
                </p>

                <ol>
                    <li>Стандартность</li>
                    <li>Экономия пространства внутри комнат</li>
                    <li>Почти герметичный прижим и отсутствие необходимости заклейки в зимнее время</li>
                    <li>Отсутствие необходимости в форточках, т.к. раму можно открыть на любое расстояние, начиная от узкой щели</li>
                    <li>Простота и дешевизна</li>
                </ol>

                <h3>Цвет</h3>
                <p>
                    Эксперименты с цветом в доме Наркомфина стали продолжением опытов, начатых М.Я. Гинзбургом в архитектурной комнате бывшего МВТУ (сейчас <a href="#">МГТУ им. Н.Э. Баумана</a> ) и признанных автором не очень удачными: "длительное пребывание в этой комнате утомляло". Работой по подбору цветовых решений квартир дома Наркомфина руководил художник из <a href="#">Баухауса</a>  профессор <a href="#">Хиннерк Шепер</a>. Стены в квартирах не оклеивали обоями, а гладко окрашивали — теплые гаммы колеров для одних квартир и холодные для других. В квартирах теплой гаммы для потолка была выбрана светлая охра, для стен лимонно-желтый. В холодной гамме для потолка использовали голубой оттенок брауншвейг, стены же были голубоватого и зеленоватого оттенков[Комм. 3]. В обоих случаях была выбрана менее интенсивная гамма, чем в опыте с комнатой МВТУ.
                </p>

                <p>
                    "Опыты показали, что теплая гамма пространственно ограничивает объем: холодная же, наоборот, как бы расширяет помещение", - пишет М.Я. Гинзбург. Вывод, сделанный архитекторами из экспериментальной раскраски интерьеров - следует быть чрезвычайно осторожным в выборе цвета, а яркий цвет уместен на потолке, куда мы смотрим не так часто: поэтому основной, более яркий тон в окраске квартир дома Наркомфина применялся именно на потолках.
                </p>

                <p>
                    Цвет также был использован для облегчения навигации: так, расположенные двери верхних и нижних ячеек F были для различения покрашены в черный и белый цвет. Потолки лестничных клеток и коридоров также были покрашены в разные цвета: оранжевый, брауншвейг, зеленая земля, кобальт, вермильон, зеленый веронез[<a href="#">источник?</a>], - помогая жителям сориентироваться, в какой части дома они находятся.
                </p>

                <p>
                    Во всех жилых помещениях полы из дубового паркета (широкий паркет 8 см). В ванных комнатах, по крайней мере, трёхкомнатных квартир до 1960 года сохранялись полы из пробкового дерева, позднее заменены кафельной плиткой. Электропроводка открытого типа — витой провод на фарфоровых изоляторах. Электровыключатели поворотные, как и розетки, также фарфоровые.
                </p>

                <h2 id="project_critique">Критика проекта</h2>
                <hr>

                <p>
                    Первым критиком здания дома Наркомфина был сам М.Я. Гинзбург — взгляд на историю строительства дома как на эксперимент предполагал его критическую оценку в книге "Жилище", вышедшей в 1934 году.
                </p>
                <p>
                    Дому Наркомфина посвящено большое количество публикаций, как в российских, так и в зарубежных источниках. В западных источниках описания дома Наркомфина нередко сопровождаются определениями «утопия» и «утопический» (<a href="#">англ</a>. utopian housing project). В советских публикациях авторы старались избегать такой трактовки, привычно используя лексику типа «эксперимент», «экспериментальный», «переходного типа» и т. п., не акцентируя внимание на его результатах.
                </p>

                <h3 id="technical_side">С технической стороны</h3>
                <p>
                    Объектом критики, в первую очередь со стороны качества использованных строительных материалов, стали несущие стены, так как жилой корпус ни разу не ремонтировали за все почти 90 лет его существования. Штукатурка фасадов осыпалась, а стены из кустарно выполненных цементных и шлаковых блоков, сделанных прямо на стройке, разрушались. Наполнителями в цементном растворе служили разные подручные материалы, в том числе металлургический шлак, солома, камыш.
                </p>

                <p>
                    Каркасная конструкция дома на ножках весьма затруднила устройство в нём вертикальных коммуникаций, не говоря о промерзании нижнего жилого этажа. Канализационные стояки пришлось утеплять и пропускать в нестандартных, специально утолщенных колоннах, что первоначально не учитывалось в эскизном архитектурном решении. Ряд проблем вызвала и плоская кровля и связанные с ней протечки. Исполнение такой кровли требует особой тщательности и качественных материалов, которые в период строительства можно было достать только благодаря инициативе заказчика ранга Милютина. Такая кровля требует постоянного ухода — прочистки загрязненных или замерзших внутренних водостоков, починки покрытия, регулярного сбрасывания снега.
                </p>

                <p>
                    Использованный во внутренней отделке дома «камышит» оказался плохим звукоизолирующим материалом, в частности, в качестве внутренних перегородок между первоначально «спальными комнатами», оказавшихся заселённых различными семьями. По этому поводу было высказано много критических замечаний. К моменту окончания войны вентиляционные шахты оказались забитыми, вытяжная вентиляция повсеместно не работала.
                </p>

                <p>
                    Эксперимент с устройством раздвижных горизонтальных окон «не достиг цели и вызвал нарекания жильцов»[31]. Ленточные окна шириной во всю стену не отвечали реалиям московского климата. Места прижима в окне с деревянной рамой были обиты брезентом и войлоком. Через пару десятилетий уплотнения износились, к тому же бетонные рамы стали осыпаться, обнажая металлическую арматуру, сдвижные элементы окон заклинивали и в зимнее время пропускали холодный воздух.
                </p>

                <p>
                    Оборудование квартир не удалось сделать идеальным, ни стилистически, ни функционально. Например, там, где удавалось поставить ванну, то это были громоздкие дореволюционные чугунные изделия, занимавшие слишком много места в габаритах первоначально запланированных душевых кабин. Солидная по площади ванная комната была только в квартире Милютина.
                </p>

                <h3 id="domestic_side">С бытовой стороны</h3>
                <p>
                    С бытовой стороны Дом Наркомфина также вызывал множество нареканий. Основой явилось нарушение заложенного в проекте принципа заселения типовых ячеек (квартир), связанного с тяжелейшим жилищным кризисом в СССР. В Доме Наркомфина в 1940-е…1970-е годы были распространены примеры квартир-коммуналок, когда одной из семей приходилось жить в общей комнате, а другой — в спальне. При этом минимальные размеры кухонь и санузлов приводили к скандалам и, в результате, к резкой критике архитектуры авангарда и системы в целом. По-видимому, благополучными исключениями являлись квартиры бывших наркомов Н. Милютина и Н. Семашко.
                </p>

                <p>
                    Не выдержал Дом Наркомфина и конкуренцию с традиционными в отношении строительных технологий домами, выстроенными по инициативе <a href="#">Моссовета</a>. Если в Доме Наркомфина легкие бетонные блоки разрушались, то толстые и непромерзаемые кирпичные стены домов Моссовета до сих пор отличаются хорошей звукоизоляцией всех помещений и сохраняют микроклимат в квартирах.
                </p>

                <p>
                    В итоге Дом Наркомфина так и не стал «домом-коммуной переходного типа» — к середине 1930-х годов утопические проекты первых лет советской власти сошли на нет, да и сами жильцы отказались от этой идеи.
                </p>

                <p>
                    По словам современного автора <b> «довольно быстро выяснилось, что номенклатурная элита не готова жить по утопическим заветам Гинзбурга»</b>. По данным Виктора Бачли, в предвоенные годы почти половина домохозяйств (семей) дома Наркомфина содержали домработницу и не показывали желания социализироваться.
                </p>

                <p>
                    Идущую вдоль нижнего коридора галерею, предназначенную для встреч и общения, быстро превратили в места для сушки белья, позднее в индивидуальные кладовки; терраса с садом на крыше так и не была достроена, а общей столовой почти никто не пользовался. Жильцы с удовольствием покупали в столовой готовые блюда, однако предпочитали забирать их с собой в квартиры, а не питаться вместе[Комм. 6]. В таком виде коммунальный корпус существовал недолго. Через некоторое время общественное питание перестало удовлетворять основную массу жильцов, и кухня стала нерентабельной. Вслед за этим изменилось и назначение двухсветных залов. Они были приспособлены вначале под типографию, а в дальнейшем — под конструкторское бюро.
                    Успешно функционировали только два коммунальных хозяйственно-бытовых учреждения: прачечная и детский сад (в коммунальном корпусе). Но и они во время войны были закрыты.
                </p>

                <p>
                    Авторы монографии советского периода (1986), посвященной Дому Наркомфина, подводя итоги, писали, что «эксперимент с организацией новых форм ведения социально-бытового хозяйства для начала 1930-х годов был преждевременным и оказался несостоятельным».
                </p>

                <p>
                    Английский историк материальной культуры Виктор Бачли в своей работе 1999 года писал более откровенно, что «утопизм и стремление к реформированию повседневной жизни, положенные в основу проекта дома Наркомфина, впали в немилость практически сразу по его завершении. С началом <a href="#">пятилетки</a>  и консолидации власти Сталиным заложенные в проект идеи коллективизма и феминизма были отвергнуты как левацкие и троцкистские».
                    </p>

                <script type="text/javascript">
                    $(document).ready(function(){
                    $("#domestic_side").on("click","a", function (event) {
                    //отменяем стандартную обработку нажатия по ссылке
                    event.preventDefault();

                    //забираем идентификатор бока с атрибута href
                    var id = $(this).attr('href'),

                    //узнаем высоту от начала страницы до блока на который ссылается якорь
                    top = $(id).offset().top;

                    //анимируем переход на расстояние - top за 1500 мс
                    $('body,html').animate({scrollTop: top}, 1500);
                    });
                    });
                </script>

  </body>
</html>
